x.about {
	font-size: 1.04vw;
}
aside {
	grid-column: 1/2;
	grid-row: 3/4;
}
.bodyStyle {
	background-color: #D4F2CF;
	color: black;
	font-size: 1vw;
}
.buttons {
    width: 6.5vw;
    height: 6.5vh;
    margin: 0vw;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgb(155, 216, 158);
    font-size: 1vw;
}
.card {
	width: 30vw;
	padding: 1vw;
}
.card-link {
	color: blue;
}
.card-body {
	background-color: green;
	margin: 1vw;
}
.card-columns .card {
    display: inline-block;
    width: 20vw;
}
.carousel.img {
	width: 30vw;
}
.columns {
	width: 20vw;
}
.contact {	
	background-color: #F3C678;
}
.contact a {
	color: black;
}
.computingBlock {
    padding: 1.5vw;
    margin: 0vw;
    width: 22.5vw;
    float: left;
}
.displayValue {
    width: 32.5vw;
    height: 3vw;
    text-align: right;
    background-color: rgb(68, 154, 235);
    font-size: 1.7vw;
	border: 1px black solid;
}
.forest {
	width: 21vw;
	height: 65vh;
	margin: 0.5vw;
	margin-left: 3vw;
}
.game {
	text-align: center;
	margin-right: 12vw;
}
.gameButton {
	width: 25%;
	height: 7vh;
	background-color: rgb(20, 155, 2);
	color: black;
	font-family: bold;
	margin-top: 1vh;
	margin-bottom: 1vh;
}
.head {
	margin-left: 10%;
	font-size: 2.6vw;
	margin-top: 2vh;
}
header {
	grid-column: 1/3;
	grid-row: 2/3;
}
.headingThree {
	font-size: 1.9vw;
}
.high { 
	width: 30vw;
	height: 65vh;
	margin: 0.8vw;
	text-align: center;
}
.highScore-button {
	margin-left: 19.8vw;
	display: block;
	font-family: bold;	
	background-color: orange;
	width: 32%;
	height: 11vh;
	font-size: 1.3vw;
}
.input-one {
	margin-left: 3vw;
}
.input-two {
	margin-left: 1.8vw;
	width: 11.9vw;
}
.input-three {
	margin-left: 0.4vw;
}
.intro {
	margin-left: 2vw;
}
.intro-info {
	margin-left: 2vw;
}
.img-fluid {
	width: 93.7vw;
	height: 95vh;
	margin-left: 2vw;
	margin-right: 2vw;
}
.land {
	margin-left: 2vw;
}
.last-site {
    text-align: center;
	margin-left: 10vw;
}
.last-site-head {
	margin-left: 13vw;
	font-size: 1.5vw;
}
.lost-button-theme {
	margin-left: 19.8vw;
	display: block;
	font-family: bold;	
	background-color: orange;
	width: 32%;
	height: 9vh;
	font-size: 1.3vw;
}
.lower-head {
	margin-top: 3%;
}
main {
	margin-left: 3vw;
	grid-column: 1/2;
	grid-row: 3/4;
}
.me {
	width: 60%;
	margin-left: 20%;
	margin-top: 12%;
}
/* Body classes*/
.myBody {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 10vh 9vh 81vh;
	background-color: #D4F2CF;
	color: black;
	font-size: 1vw;
}
.myBody-switch {
	display: grid;
	grid-template-columns: 10vw 90vw;
	grid-template-rows: 10vh 9vh 81vh;
	background-color: #7ad9e6;
	color: black;
	font-size: 1vw;
}
nav {
	grid-column: 1/3;
	grid-row: 1/2;
}
nav {
	background-color: #A8DADC;
}
nav button {
	font-size: 1.2vw;
}
nav a {
	font-size: 1.2vw;
}
.nav-switch {
	background-color: rgb(107, 143, 235);
	color: black;
}
.nav-switch a {
	color: black;
}
.nav-switch button {
	background-color: rgb(43, 129, 25);
	border-color: rgb(43, 129, 25); 
}
.nav {
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-right: 2vw;
	display: inherit;	
}
.nav-right {
	padding: 1.45vw 3vw 1.45vw 3vw;
}
.nav-right:hover {
	background-color: rgb(89, 111, 233);
	text-decoration: none;
}
.navigation {
	float: right;
}
.projects {
	margin-left: 36%;
}
.projects-aside {
	margin-left: 3vw;
	padding-bottom: 4vh;
	width: 30vw;
}
.projects-aside-title {
	margin-left: 10vw;
	font-size: 1.5rem;
}
.projects-aside-head {
	font-size: 1.5rem;
	margin-left: 35%;
}
.score-button {
	display: none;
}
.score-button-theme {
	margin-left: 30vw;
	display: block;
	font-family: bold;	
	background-color: orange;
	width: 32%;
	height: 7vh;
	font-size: 1.3vw;
}
span {
	margin-left: 6vw;
	padding: 1.45vw 4vw 1.45vw 4vw;
}
span:hover {
	background-color: rgb(89, 111, 233);
}
.switchButton {
	background-color: #A8DADC;
	border-color: #A8DADC;
	margin-left: 2vw;
	font-family: bold;
}
.row {
	margin-right: 0vw;
}
.row {
    flex-wrap:nowrap
}
