body {
	display: grid;
	grid-template-columns: 10vw 45vw 45vw;
	grid-template-rows: 10vh 8vh 75vh 7vh;
	background-color: #D4F2CF;
	color: black;
}

* {
	box-sizing: border-box;
	margin:0;
}
p {
	color: black;
	margin-right: 2vw;
	font-size: 1vw;
}

h2 {
	padding-top: 1vw;
}
#navbarwidth {
    width:100vw;
    text-align: center;
}
nav {
	background-color: #A8DADC;
}
nav button {
	font-size: 1.2vw;
	background-color: #A8DADC;
	border-color: #A8DADC;
	margin: 0vw;
	margin-left: 2vw;
}
nav a {
	font-size: 1.2vw;
}
.nav-switch {
	background-color: rgb(173, 21, 34);
	color: black;
}
.nav-switch a {
	color: black;
}
.nav-switch button {
	background-color: rgb(43, 129, 25);
	border-color: rgb(43, 129, 25); 
}
.nav {
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-right: 2vw;
	display: inherit;	
}
.nav-right {
	padding: 1.45vw 3vw 1.45vw 3vw;
}
.nav-right:hover {
	background-color: rgb(89, 111, 233);
	text-decoration: none;
}
.navigation {
	float: right;
}
header {
	grid-column: 1/4;
	grid-row: 1/2;
}
.row {
	margin-right: 0vw;
}
nav {
	grid-column: 1/4;
}
aside {
	grid-column: 1/2;
	grid-row: 3/4;
}
main {
	grid-column: 2/3;
	grid-row: 3/4;
}
.over {
	font-size: 2vw;
}
section {
	grid-column: 3/4;
	grid-row: 3/4;
}

footer {
	grid-column: 1/4;
	grid-row: 4/5;
}

img	{
	width: 30vw;
	margin-right: 15vw;
	margin-left: 1vw;
}
span {
	margin-left: 0vw;
	padding: 1.45vw 4vw 1.45vw 4vw;
}
span:hover {
	background-color: rgb(89, 111, 233);
}
.text {
	color: black;
	margin-right: 2vw;
	font-size: 1vw;
}
.high {
	height: 70vh;
	width: 22vw;
}