body {
	display: grid;
	grid-template-columns: 13vw 87vw;
	grid-template-rows: 10vh 90vh;
	background-color: #D4F2CF;
	color: black;
}
h3 {
	font-size: 1.8vw;
}
p {
	color: black;
	font-size: 1.1vw;

}
.motivation-text {
	margin-left: 1vw;
	margin-top: 2vw;
	font-size: 1.2vw;
}
nav {
	background-color: #A8DADC;
}
nav button {
	font-size: 1.2vw;
	background-color: #A8DADC;
	border-color: #A8DADC;
	margin: 0vw;
	margin-left: 2vw;
}
nav a {
	font-size: 1.2vw;
}
.nav-switch {
	background-color: rgb(173, 21, 34);
	color: black;
}
.nav-switch a {
	color: black;
}
.nav-switch button {
	background-color: rgb(43, 129, 25);
	border-color: rgb(43, 129, 25); 
}
.nav {
	margin-bottom: 3vh;
	margin-right: 2vw;
	display: inherit;	
}
.nav-right {
	padding: 1.45vw 3vw 1.45vw 3vw;
}
.nav-right:hover {
	background-color: rgb(89, 111, 233);
	text-decoration: none;
}
.navigation {
	float: right;
}





nav {
	grid-column: 1/3;
	grid-row: 1/2;
}
aside {
	grid-column: 1/2;
	grid-row: 2/3;
}
main {
	grid-column: 2/3;
	grid-row: 2/3;
}

footer {
	grid-column: 1/3;
	grid-row: 3/4;
}


.imageRow {
	margin-bottom: 4vh;
	margin-top: 2vh;
}
.jobDescription {
	font-size: 1.1vw;
}

.row {
	margin-right: 0vw;
}

.motivatie {
	margin-right: 20%;
}

.difference {
	width: 35vw;
	height: 40vh;
}
.motivation {
	padding-left: 16.5vw;
}
.motivation-button {
	font-size: 1.1vw;
}
span {
	margin-left: 6vw;
	padding: 1.45vw 4vw 1.45vw 4vw;
}
span:hover {
	background-color: rgb(89, 111, 233);
}


.over {
		text-align: center;

}
.jumbotron {

	background-color:#D4F2CF;
	margin:0vw;

}

