
h3 {
	font-size: 1.8vw;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.9rem;
}
h6 {
	font-size: 0.8rem;
}
.about {
	font-size: 1.04vw;
}
.buttons {
    width: 6.5vw;
    height: 6.5vh;
    margin: 0vw;
    border: 0.4px solid rgba(0, 0, 0, 0.8);
    background-color: rgb(155, 216, 158);
    font-size: 1vw;
}

.card-link {
	color: blue;
}
.card-columns .card {
    display: inline-block;
    width: 20vw;
}
.carousel.img {
	width: 30vw;
}
.carousel-info {
	width: 40%;
	float: right;
	margin-right: 10%;
}
.carousel-caption {
	right: 10vh;
}
.carousel-row {
	height: 40vw;
}
.col-calculator {
	flex-shrink: 2;
	margin: 0;
	padding: 0;
}

.contact {	
	background-color: #F3C678;
}
.contact a {
	color: black;
}
.computingBlock {
    padding: 1.5vw;
    margin: 0vw;
    width: 22.5vw;
    float: left;
}
.difference {
	width: 35vw;
	height: 40vh;
}

.displayValue {
    width: 32.5vw;
    height: 3vw;
    text-align: right;
    background-color: rgb(68, 154, 235);
    font-size: 1.7vw;
	border: 0.4px black solid;
}
footer {
	background-color: #272446;
	border-top: 1px solid rgb(177, 177, 177);
}
.forest {
	width: 21vw;
	height: 65vh;
	margin: 0.5vw;
	margin-left: 3vw;
}
.game {
	text-align: center;
}
.gameButton {
	width: 25%;
	height: 7vh;
	background-color: rgb(20, 155, 2);
	color: black;
	font-family: bold;
	margin-top: 1vh;
	margin-bottom: 1vh;
}
.head {
	margin-left: 10%;
	font-size: 2.6vw;
	margin-top: 2vh;
}
.headingThree {
	font-size: 1.9vw;
}
.headingTwo {
	margin-left: 10vh;
	font-size: 1.1vw;
}
.high {
	height: 70vh;
	width: 22vw;
}
.highScore-button {
	margin-left: 19.8vw;
	display: block;
	font-family: bold;	
	background-color: orange;
	width: 32%;
	height: 11vh;
	font-size: 1.3vw;
}
.higherLower {
	margin-top: 24vh;
}
.intro {
	margin-left: 2vw;
}
.intro-info {
	margin: 0!important;
	padding: 2vh!important;
}

.img-fluid {
	width: 93.7vw;
	height: 95vh;
	margin-left: 2vw;
	margin-right: 2vw;
}
.imageRow {
	margin-bottom: 4vh;
	margin-top: 2vh;
}
.jobDescription {
	font-size: 1.1vw;
}
.land {
	margin-left: 2vw;
}
.last-site {
    text-align: center;
	margin-left: 10vw;
}
.last-site-head {
	margin-left: 13vw;
	font-size: 1.5vw;
}
.lost-button-theme {
	margin-left: 19.8vw;
	display: block;
	font-family: bold;	
	background-color: orange;
	width: 32%;
	height: 9vh;
	font-size: 1.3vw;
}
.lower-head {
	margin-top: 3%;
}
.me {
	width: 20%;
	right: 3vh;
}
.motivatie {
	margin-right: 20%;
}
.motivation {
	padding-left: 16.5vw;
}
.motivation-button {
	font-size: 1.1vw;
}
.motivation-text {
	margin-left: 1vw;
	margin-top: 2vw;
	font-size: 1.2vw;
}
/* Body classes*/
.myBody {
	
	background-color: #2c2b3a;
	color: rgb(255, 255, 255);
	font-size: 1vw;
}
.myBody-switch {
	background-color: #7ad9e6;
	color: black;
	font-size: 1vw;
}
.nature {
	width: 30vw;
}
nav {
	background-color: #524491;
	position: fixed;
	
}
nav button {
	font-size: 1.2vw;
}
nav a {
	font-size: 1.2vw;
}
.nav-link {
	display: inline;
}
.nav-over {
	grid-column: 1/4;
}
.nav-switch {
	background-color: rgb(107, 143, 235);
	color: black;
}
.nav-switch a {
	color: black;
}
.nav-switch button {
	background-color: rgb(43, 129, 25);
	border-color: rgb(43, 129, 25); 
}
.nav {
	margin-bottom: 3vh;
	margin-right: 2vw;
	display: inherit;	
}
.nav-right {
	padding: 1.45vw 3vw 1.45vw 3vw;
}
.nav-right:hover {
	background-color: rgb(89, 111, 233);
	text-decoration: none;
}
.navigation {
	float: right;
}
.over {
	font-size: 2vw;
}

p {
	font-size: 1.1vw;
}
.project {
	margin-left: 5vh;
}
.projects-aside {
	margin-left: 3vw;
}
.projects-aside-title {
	margin-left: 10vw;
	font-size: 1.5rem;
}
.projects-aside-head {
	margin-left: 22vw;
}
.projectCoursel {
	width: 50%;
	height: 30%;
	margin-right: 0vw;
}
.score-button {
	display: none;
}
.score-button-theme {
	margin-left: 30vw;
	display: block;
	font-family: bold;	
	background-color: orange;
	width: 32%;
	height: 7vh;
	font-size: 1.3vw;
}
.slide {
	background-color: rgb(47, 38, 119);
}
span {
	margin-left: 6vw;
	padding: 1.45vw 4vw 1.45vw 4vw;
}
span:hover {
	background-color: rgb(89, 111, 233);
}
.switchButton {
	background-color: #A8DADC;
	border-color: #A8DADC;
	margin-left: 2vw;
	font-family: bold;
}

.row {
	margin: 0;
	padding: 0;
	flex-wrap:nowrap;
	flex-shrink: 2;
}
.displayRow {
	margin-right: 1vw;
}