body {
	display: grid;
	grid-template-columns: 13vw 87vw;
	grid-template-rows: 10vh 90vh;
	background-color: #D4F2CF;
	color: black;
}
button {
	background-color: #F3C678;
	font-family: bold;
	margin-left: 2vw;
	margin-top: 3vh;

}
button a {
	color: black;
	text-decoration: none;
}
button a:hover {
	color: black;
	text-decoration: none;
}
#contact {
	margin-left: 13vw;
 }
.card{
	width: 22vw;
	margin: 2vw;
	margin-left: 15vw;
	color: black;
}
.card-img {
	margin: 0
}
.card-body a{
	color: blue;
}
.card-body a:hover{
	color: black;
}
.container-fluid {
	margin-top: 2vw;
	margin-left: 2vw;
}

h3 {
	font-size: 1.8vw;
}
p {
	color: black;
	font-size: 1.1vw;

}
.motivation-text {
	margin-left: 1vw;
	margin-top: 2vw;
	font-size: 1.2vw;
}
nav {
	background-color: #A8DADC;
}
nav button {
	font-size: 1.2vw;
	background-color: #A8DADC;
	border-color: #A8DADC;
	margin: 0vw;
	margin-left: 2vw;
}
nav a {
	font-size: 1.2vw;
}
.nav-switch {
	background-color: rgb(173, 21, 34);
	color: black;
}
.nav-switch a {
	color: black;
}
.nav-switch button {
	background-color: rgb(43, 129, 25);
	border-color: rgb(43, 129, 25); 
}
.nav {
	margin-top: 3vh;
	margin-bottom: 3vh;
	margin-right: 2vw;
	display: inherit;	
}
.nav-right {
	padding: 1.45vw 3vw 1.45vw 3vw;
}
.nav-right:hover {
	background-color: rgb(89, 111, 233);
	text-decoration: none;
}
.navigation {
	float: right;
}



* {
	box-sizing: border-box;
	margin:0;
}

nav {
	grid-column: 1/3;
	grid-row: 1/2;
}
aside {
	grid-column: 1/2;
	grid-row: 2/3;
}
main {
	grid-column: 2/3;
	grid-row: 2/3;
}

footer {
	grid-column: 1/3;
	grid-row: 3/4;
}

img	{
	width: 30vw;
}
.imageRow {
	margin-bottom: 4vh;
	margin-top: 2vh;
}
.jobDescription {
	font-size: 1.1vw;
}
.row {
	margin-right: 0vw;
	display: inline-block;
}
#me {
	width: 300px;
	height: 400px;
	float: right;
	margin-left: 8vw;
	margin-right: 10vw;
}

#about {
	font-family: bold;
	font-size: 1.3em;
	margin-right: 40%;
	margin-left: 13vw;
	margin-top: 1vh;
	line-height: 1.3em;
}
.motivatie {
	margin-right: 20%;
}

.difference {
	width: 35vw;
	height: 40vh;
}
.motivation {
	padding-left: 16.5vw;
}
.motivation-button {
	font-size: 1.1vw;
}
span {
	margin-left: 6vw;
	padding: 1.45vw 4vw 1.45vw 4vw;
}
span:hover {
	background-color: rgb(89, 111, 233);
}

#first {
	grid-column: 1/2;
	grid-row: 3/4;
}

#second {
	grid-column: 2/3;
	grid-row: 3/4;
}
.over {
		text-align: center;

}
#tooth {
	margin-left: 12vw;
}
.jumbotron {

	background-color:#D4F2CF;
	margin:0vw;

}

