/* Normalize css  */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(117, 62, 119);
}
/*Borders */ 
.border-right {
    width: 4vw;
    height: 4vw;
    border-right: 0.4vw solid rgb(22, 142, 197);
    background-color: black;
}
.border-left {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-left: 0.4vw solid rgb(22, 142, 197);

}
.border-top {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-top: 0.4vw solid rgb(22, 142, 197);

}
.border-bottom {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-bottom: 0.4vw solid rgb(22, 142, 197);
}
.border-topRight {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-top: 0.4vw solid rgb(22, 142, 197);
    border-right: 0.4vw solid rgb(22, 142, 197);
}
.border-topLeft {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-top: 0.4vw solid rgb(22, 142, 197);
    border-left: 0.4vw solid rgb(22, 142, 197);
}
.border-bottomRight {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-bottom: 0.4vw solid rgb(22, 142, 197);
    border-right: 0.4vw solid rgb(22, 142, 197);
}
.border-bottomLeft {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-bottom: 0.4vw solid rgb(22, 142, 197);
    border-left: 0.4vw solid rgb(22, 142, 197);
}
.button {
    width:15vw;
    height: 7vh;
    background-color: rgb(75, 7, 201);
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}
.clear {
    background-color: rgb(117, 62, 119);
    width: 4vw;
    height: 4vw;
}
.control {
	font-size: 1.5vw;
}
.controls {
	font-size: 1.7vw;
    font-weight: bold;
}
.down {
    transform: rotate(90deg);
}
.field {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-color: black;
    border-width: 0.4vw;
    border-style: solid;

}
/*Fields with borders */
.field-box {
    width: 4vw;
    height: 4vw;
    background-color: rgb(22, 142, 197);
    border-width: 0.4vw;
    border-style: solid;
    border-color:rgb(22, 142, 197);
}
.field-box-top {
    width: 4vw;
    height: 4vw;
    background-color: rgb(22, 142, 197);
    border-top: 0.4vw solid rgb(22, 142, 197);

}
.field-box-bottom {
    width: 4vw;
    height: 4vw;
    background-color: rgb(22, 142, 197);
    border-bottom: 0.4vw solid rgb(22, 142, 197);

}
.field-box-right {
    width: 4vw;
    height: 4vw;
    background-color: rgb(22, 142, 197);
    border-right: 0.4vw solid rgb(22, 142, 197);
}
.field-exit-right {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 0.4vw;

}
.field-exit-left {
    width: 4vw;
    height: 4vw;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 0.4vw;

}
.field-box-left {
    width: 4vw;
    height: 4vw;
    background-color: rgb(22, 142, 197);
    border-left: 0.4vw solid rgb(22, 142, 197);
}
.ghost-lair {
    width: 4vw;
    height: 4vw;
    background-color: gray;
    border-style: solid;
    border-width: 0.4vw;
    border-color: gray;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 88vw;
    height: 48vw;
}
.grid-level2 {
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    height: 48vw;
    margin-left: 4vw;
}
.h3 {
    text-align: center;
    font-size: 3vw;
    margin: 0vw;
}
.hidden {
    display: none;
}
.homeButton {
    float: right;    
    margin-top: 1vh;
    margin-right: 2vw;
    height: 7vh;
    width: 8vw;
    border-radius: 1vw;
    background-color: rgb(75, 7, 201);
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.homeButton a {
    color: black;
    font-size: 1.5vw;
}
.homeButton-first {
    margin-left: 45vw;   
    margin-top: 1vh;
    height: 7vh;
    width: 10vw;
    border-radius: 1vw;
    background-color: rgb(75, 7, 201);
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    text-decoration: none;
}
.homeButton-first a {
    color: black;
}
.homeImage {
    width: 25vw;
    height: 50vh;
    margin: 2vw;
}
.homePage {
    text-align: center;
}
.homePage button {
    margin: 1vw;
}
img {
    width: 3vw;
    height: 3vw;
}

.left {
    transform: rotate(180deg);
}
.level {
    background-color: rgb(17, 103, 184);
    float: right;
    height: 3vw;
    width: 10vw;
    font-size: 1.3vw;
    font-weight: bold;
    border-radius: 10px;
}

.pac-dot {
    background-color: white;

    border-width: 1.6vw;

}
.pac-man {
    background-color: yellow;
    box-sizing: border-box;
    height: 4vw;
    width: 4vw;
    

}
.pac-man-hidden {
    background-color: black;
}
.pacman {
    width: 0vw;
    height: 0vw;
    border-right: 2vw solid transparent;
    border-left: 2vw solid yellow;
    border-top: 2vw solid yellow;
    border-bottom: 2vw solid yellow;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    transform: rotate(180deg);
}

.player {
    background-color: orange;
    box-sizing: border-box;
    height: 4vw;
    width: 4vw;
    
}
.power-pellet {
    background-color: white;
}
.reload {
    border-radius: 10px;
    background-color: yellow;
    width: 15vw;
}

.the-end {
    width: 25vw;
    height: 5vw;
    position: absolute;
    left: 35vw;
    background-color: rgb(92, 10, 199);
    color: white;
    text-align: center;
    padding-top: 2vw;
    font-size: 1.5vw;
}
.up {
    transform: rotate(270deg);
}
/*ghosts */
.blinky {
    height: 4vw;
    width: 4vw;
    background-color: rgba(255, 0, 0, 0.904);
    border: solid rgba(255, 0, 0, 0.904) 0.4vw;
}
.crispy {
    height: 4vw;
    width: 4vw;
    background-color: rgb(201, 12, 169);
    border: solid rgb(201, 12, 169) 0.4vw;
}
.pinky {
    height: 4vw;
    width: 4vw;
    background-color: pink;
    border: solid pink 0.4vw;
}
.winky {
    height: 4vw;
    width: 4vw;
    background-color: rgb(4, 0, 255);
    border: solid rgb(4, 0, 255) 0.4vw;
}
.flinky {
    height: 4vw;
    width: 4vw;
    background-color: blueviolet;
    border: solid transparent 0.4vw;
}
.drinky {
    height: 4vw;
    width: 4vw;
    background-color: rgb(248, 127, 46);
    border: solid transparent 0.4vw;
}
.scared-ghost {
    height: 4vw;
    width: 4vw;
    background-color: aquamarine;
    border: solid aquamarine 0.4vw;
}
/* einde ghosts */