<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="utf-8">
    <title>Pac-man level 2</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="row">
        <div class="col-12">

            <p class="h3">Score: <span class="score">0</span></p>
            <button class="homeButton">
                <a href="index.html" class="nav-right">Home</a>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="grid grid-level2">
                <div class="the-end hidden">
                    <button class="reload">Game over <br> Play again</button>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="js/levelUp.js"></script>
</body>

</html>